:root {
    --primary: #0187ea;
    --white: #fefeff;
    --black: #25272b;
}

* {
    font-family: "Plus Jakarta Sans";
}
/*** Landing Page Start ***/

/** Home Start **/

/* Universal */
.chip-title {
    padding: 8px 24px;
    align-items: flex-start;
    border-radius: 100px;
    border: 1px dashed var(--primary);
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: var(--primary);
}

.section-title-large {
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: var(--black);
}

.section-title-lh-large {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: var(--black);
}

.section-title-medium {
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: var(--black);
}

.section-title-highlight {
    color: var(--primary);
}

.section-content {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: #4f5767;
}

.section-content-medium {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    color: #4f5767;
}

@media (max-width: 992px) {
    .section-title-large,
    .section-title-lh-large {
        font-size: 36px;
    }
    .section-title-medium {
        font-size: 24px;
    }
    .section-content {
        font-size: 20px;
    }
    .section-content-medium {
        font-size: 16px;
    }
}

/* Spinner */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* Button */
.button-primary {
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
    background: var(--primary);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.button-primary:hover,
.button-danger:hover {
    color: var(--primary);
    background: transparent;
    border: 1.5px solid var(--primary);
}

.button-danger {
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
    background: #ff5538;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

/* Navbar */
.fixed-top {
    transition: 0.5s;
}

.bg-scroll {
    background: rgba(79, 87, 103, 0.8);
    backdrop-filter: blur(2px);
}

.navbar-nav a {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--white);
}

.navbar .navbar-nav .nav-link {
    margin-right: 36px;
    padding: 24px 0;
    color: #ffffff;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

/* Responsive Navbar */
@media (max-width: 992px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        background: var(--black);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

/* Hero Section */
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.carousel-caption h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
}

.carousel-caption p {
    color: var(--white);
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--black);
    border: 12px solid var(--black);
    border-radius: 3rem;
}

/* Responsive Hero Section */
@media (max-width: 992px) {
    .carousel-caption h1 {
        font-size: 32px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Tentang Kami Section */
.img-default {
    border-radius: 8px;
}

.img-border {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.img-border::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 3rem;
    bottom: 3rem;
    border: 5px solid var(--primary);
    border-radius: 8px;
}

.img-border img {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);
    object-fit: cover;
}

/* Visi & Misi Section */
.img-visi {
    height: 100%;
}

/* Layanan Kami Section */
.card-layanan {
    position: relative;
    text-align: center;
}

.card-layanan .card-layanan-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.card-layanan .card-layanan-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: 0.3s;
    z-index: -1;
}

.card-layanan:hover .card-layanan-img img {
    transform: scale(1);
}

.card-layanan .card-layanan-text {
    background: #ffffff;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card-layanan:hover .card-layanan-text {
    background: linear-gradient(
        0deg,
        rgba(37, 39, 43, 0.5) 0%,
        rgba(37, 39, 43, 0.5) 100%
    );
}

.card-layanan .card-layanan-text h4,
.card-layanan .card-layanan-text p {
    transition: 0.3;
}

.card-layanan .card-layanan-text p {
    color: #4f5767;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.card-layanan:hover .card-layanan-text p {
    color: var(--white);
}

.card-layanan .card-layanan-text h4 {
    color: var(--black);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
}

.card-layanan:hover .card-layanan-text h4 {
    color: var(--white);
}

/* Dokumentasi Kegiatan Section */
.card-galeri {
    position: relative;
    overflow: hidden;
}

.card-galeri-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: var(--white);
}

.card-galeri::before,
.card-galeri::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgba(37, 39, 43, 0.5) 0%,
        rgba(37, 39, 43, 0.5) 100%
    );
    transition: 0.5s;
}

.card-galeri::after {
    left: auto;
    right: 0;
}

.card-galeri:hover::before,
.card-galeri:hover::after {
    width: 50%;
}

.card-galeri .card-galeri-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 3;
    opacity: 0;
}

.card-galeri:hover .card-galeri-text {
    transition-delay: 0.3s;
    opacity: 1;
}

/* Testimoni Section */
.testimoni-item h4 {
    color: var(--primary);
}

.testimoni-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimoni-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimoni-carousel .owl-nav .owl-prev,
.testimoni-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--primary);
    border-radius: 4px;
    font-size: 22px;
    transition: 0.5s;
}

.testimoni-carousel .owl-nav .owl-prev:hover,
.testimoni-carousel .owl-nav .owl-next:hover {
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

/* Gabung Section */
.ilus-gabung {
    width: 100%;
}

/* Footer */
.footer {
    background: var(--primary);
}
.footer h5 {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.footer p {
    color: #f2f4f7;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}
.footer .copyright {
    color: #f2f4f7;
    padding: 25px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    border-top: 1px solid rgba(256, 256, 256, 0.3);
}

.footer .copyright a {
    text-decoration: none;
    color: var(--white);
}

.footer .copyright a:hover {
    color: #f2f4f7;
}

/** Home End **/

/*  */
/** Contact Start **/

/* Hero Section */
.hero-kontak {
    background-image: url(../img/img-hero-kontak.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
}

.hero-kontak span {
    background-color: #fff;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    padding: 8px 32px;
    display: inline-block;
    margin-bottom: 32px;
    border-radius: 4px;
}

.hero-kontak span a {
    color: var(--black);
    text-decoration: none;
}

.hero-kontak span a:hover {
    font-weight: 600;
    transition: 0.3s;
}

.hero-kontak h3 {
    color: var(--white);
}

/* Kontak Kami Section */
.card-kontak-kami {
    display: flex;
    padding: 36px 48px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    border: 2px dashed #4f5767;
    margin: 32px 32px;
}

.card-kontak-kami h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    color: #4f5767;
}

.card-kontak-kami i {
    font-size: 48px;
    color: #4f5767;
}

.card-kontak-kami:hover {
    border: 2px solid #4f5767;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/** Contact End**/

/*** Landing Page End ***/
